form {
    width: 50%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

form label {
    display: block;
    font-size: 1.2em;
    color: darkslategrey;
    padding-left: 3px;    
}

input, select
{
    font-size: 1.1em; 
    color: grey;
    font-family: inherit;
    font-weight: lighter;
    border: 0px;
    outline: none;
    border-radius: 0.3em;
}

button {
    margin-top: 20px;
}

.name-container, .date-container, .select-container, button {
    width: 40%;
}

mat-form-field {
    width: 100%;
}